header h1 {
	text-indent: -999px;
    margin:0px;
    font-size:0px;
}

header h1 img {
	display:block;
}

header h1,
header nav {
	display: inline-block;
    vertical-align: middle;
}

header nav ul {
	list-style: none;
    margin: 0px;
    padding: 0px;
}

 nav ul li a {
 	color:black;
 	text-decoration:none;
 }

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 20px;
    display: block;
}

nav ul li a:hover {
    color: white;
    background: gray;
    border-radius: 15px;
    border: 1px black solid;
}
header {
    border-bottom: 1px solid black;
    text-align: center;
}
body{
    margin:0px;
    padding-right: 10px;
    padding-left: 10px;
}

section img {
    display: block;
    margin: 0px;
}

section,
aside {
    display:inline-block;
    vertical-align: top;
   }
aside {
    width: 400px;
}
main {
    text-align: center;
}

main aside p.num-response{
    color:red;
}

section {
    width: 600px;
}

article header{
    border: 0px;
    text-align: left;
    padding: 0
}

article p {
    text-align: left;
}


